body{
	background-color: #607d8b;	
	font-family: 'Gloria Hallelujah', cursive;
}

form{
	border-width: 8px;
	border-radius: 4px;
	background-color: #546e7a;
	color: white;
	max-width: 700px;
}

label{
	float: left;	
	width: 10%;
	font-weight: bold;
}

input{
	margin-left: 9%;
	font-weight: bold;
}

legend{
	margin-bottom: 5%;
}

button{
	margin-top: 15%;
}

.form1{	
	margin-top: 5%;
}

.form2{
	padding-bottom: 3%;
}

.largo{
	margin-left: 0;
	font-size: 14px;
	height: 50px;
	width: 239px;
}