body{
	background-color: #0d47a1;	
	font-family: 'Gloria Hallelujah', cursive;
}

form{
	border-width: 8px;
	border-radius: 4px;
	margin-top: 5%;
	background-color: #9fa8da;
	color: white;
	max-width: 700px;

}

label{
	float: left;	
	width: 10%;
	font-weight: bold;
}

input{
	margin-left: 10%;
	font-weight: bold;
}

legend{
	margin-bottom: 5%;
}

button{
	margin-top: 15%;
}