body{
	background-color: #607d8b;	
	font-family: 'Gloria Hallelujah', cursive;
}

.boxForm{
	border-width: 8px;
	border-radius: 4px;
	background-color: #546e7a;
	color: white;
	max-width: 700px;
        margin:0 auto;
        padding-top:20px;
}

label{
	float: left;	
	width: 10%;
	font-weight: bold;
}

legend{
	margin-bottom: 5%;
}

button{
	margin-top: 15%;
}

.form1{	
	margin-top: 5%;
}

.largo{
	height: 50px;
}
.formButtom {
    margin-bottom:20px;
}