body{
	background-color: #b0bec5;	
	font-family: 'Gloria Hallelujah', cursive;
}

form{
	border-width: 8px;
	border-radius: 4px;
	background-color: #607d8b;
	color: white;
	max-width: 700px;

}


label{
	float: left;	
	width: 10%;
	font-weight: bold;
}

input{
	margin-left: 10%;
	font-weight: bold;
}

legend{
	margin-bottom: 5%;
}

button{
	margin-top: 15%;
}